.shome
{
	background-color:#0d1a26;
	color:white;
}

.box
{
	background-color:black;
	color:white;
	margin-top:50px;
	width:600px;
	font-size:18px;
	border-color:#0d1a26;
	font-family: josefin sans;
	border-style: double;
	border-width: 3px;
}

.button1
{
	height:40px;
	width : 100px;
	font-size:18px;
	background-color:silver;
	color: black;
	border-radius:5px;
}

sup
{
	color:red;
}